.custom-select {
  position: relative;
  display: block;
  max-width: 250px;
  min-width: 80px;
  margin: 0 auto;
  border: 1px solid #F5B7B1;
  background-color: #FAE5D3;
  z-index: 10;
  color: #17202A;
 }
